.form-container {
  margin-top: 150px;
}

.select-label {
  color: $primary;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    padding: 4px;
    transition: .2s;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid $primary-lt;
    border-radius: 100%;
  }